:root {
  --color-dark-blue: hsl(233, 26%, 24%);
  --color-lime-green: hsl(136, 65%, 51%);
  --color-bright-cyan: hsl(192, 70%, 51%);
  --color-grayish-blue: hsl(233, 8%, 62%);
  --color-light-grayish-blue: hsl(220, 16%, 96%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --body-font: cR(18px);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  background-color: var(--color-very-light-gray);
  font-size: 1.125rem;
  overflow-x: hidden;
}

.heading--1 {
  font-size: 3.125rem;
  font-weight: 400;
  color: var(--color-dark-blue);
}

.heading--2 {
  font-size: 2.125rem;
  font-weight: 400;
  color: var(--color-dark-blue);
}

.heading--3 {
  font-size: 1.625rem;
  font-weight: 400;
  color: var(--color-dark-blue);
}

.heading--4 {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--color-dark-blue);
  cursor: pointer;
  transition: all 0.4s;
}
.heading--4:hover {
  background-image: linear-gradient(to right, var(--color-lime-green), var(--color-bright-cyan));
  -webkit-background-clip: text;
  color: transparent;
}

.paragraph {
  font-size: 1.125rem;
  color: var(--color-grayish-blue);
  font-weight: 400;
}

.btn:link, .btn:visited {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1rem;
  background-image: linear-gradient(to right, var(--color-lime-green), var(--color-bright-cyan));
  padding: 0.625rem 1.5625rem;
  border-radius: 3.125rem;
  transition: all 0.4s;
}
.btn:hover, .btn:active {
  filter: brightness(110%);
}

.header__nav {
  background-color: var(--color-white);
  padding: 1.25rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  position: relative;
}
.header__nav__hamburger {
  background-color: var(--color-grayish-blue);
  height: 0.1875rem;
  width: 1.875rem;
}
.header__nav__hamburger::before, .header__nav__hamburger::after {
  content: "";
  display: block;
  height: 0.1875rem;
  width: 1.875rem;
  background-color: var(--color-grayish-blue);
}
.header__nav__hamburger::before {
  transform: translateY(-0.5rem) rotate(0);
  transition: all 0.4s;
}
.header__nav__hamburger::after {
  transform: translateY(0.3125rem) rotate(0);
  transition: all 0.4s;
}
.header__nav__items {
  display: flex;
  gap: 1.5625rem;
}
.header__nav__item {
  font-size: 0.9375rem;
  list-style: none;
  position: relative;
}
.header__nav__item::before {
  content: " ";
  position: absolute;
  height: 0.3125rem;
  width: 100%;
  bottom: -1.5rem;
  transform: scaleX(0);
  background-color: var(--color-lime-green);
  transition: all 0.4s;
}
.header__nav__item:hover::before {
  transform: scaleX(1.1);
}
.header__nav__item a:link, .header__nav__item a:visited {
  text-decoration: none;
  color: var(--color-grayish-blue);
}

.hamburger__container {
  cursor: pointer;
}
.hamburger__hidden {
  display: none;
}
.hamburger__active {
  height: 0;
}
.hamburger__active::before {
  transform: translateY(0.125rem) rotate(45deg);
  transition: all 0.4s;
}
.hamburger__active::after {
  transform: translateY(0) rotate(-45deg);
  transition: all 0.4s;
}
.hamburger__hidden {
  display: none;
}

.hero {
  display: grid;
  margin: 0 5rem;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  min-height: 35rem;
}
.hero__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.875rem;
  padding-right: 1.875rem;
}
.hero__images__background {
  z-index: -1;
  position: relative;
  width: 100%;
  transform: scale(1.8);
  top: -0.5rem;
  left: 11.75rem;
}
.hero__images__background__phone {
  display: none;
}
.hero__images__phone {
  position: absolute;
  z-index: 2;
  top: -0.3125rem;
  left: 46.5625rem;
  height: 47.5rem;
}

.features {
  padding: 5rem 5rem;
  background-color: var(--color-light-grayish-blue);
}
.features__details {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 1.25rem;
  margin-bottom: 3.125rem;
}
.features__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
  gap: 1.5625rem;
}
.features__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

.articles {
  padding: 5rem 5rem;
}
.articles__figures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5625rem;
  margin-top: 3.125rem;
}
.articles__figure {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 0.3125rem;
  overflow: hidden;
  box-shadow: 0 0.0625rem 0.3125rem rgba(0, 0, 0, 0.1);
}
.articles__figure__image {
  height: 11.25rem;
}
.articles__figure__author {
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--color-grayish-blue);
}
.articles__details {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  gap: 0.625rem;
}

.footer {
  padding: 5rem 5rem;
  background-color: var(--color-dark-blue);
  display: flex;
  gap: 9.375rem;
}
.footer__company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__company__logo:hover {
  fill: var(--color-lime-green);
}
.footer__company__social {
  display: flex;
  justify-content: space-between;
}
.footer__company li {
  list-style: none;
}
.footer__nav {
  flex-grow: 1;
}
.footer__nav__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 9.375rem));
  gap: 0.625rem;
}
.footer__nav__items li {
  list-style: none;
}
.footer__nav__items li a:link, .footer__nav__items li a:visited {
  font-size: 0.9375rem;
  color: var(--color-grayish-blue);
  text-decoration: none;
  transition: all 0.4s;
}
.footer__nav__items li a:hover, .footer__nav__items li a:active {
  color: var(--color-lime-green);
}
.footer__invite {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.footer__invite__arr {
  font-size: 0.875rem;
  color: var(--color-grayish-blue);
  font-weight: 300;
  margin-bottom: 0.625rem;
}

@media only screen and (max-width: 37.5em) {
  .header__nav {
    padding: 1.25rem 1.25rem;
  }
  .header__nav__items {
    display: none;
  }
  .btn--header {
    display: none;
  }
  .header__nav__hamburger {
    display: block;
  }
  .hero {
    margin: 0;
  }
  .hero__images__background {
    display: none;
  }
  .hero__images__background__phone {
    display: block;
  }
  .hero__images__phone {
    left: -7.5rem;
    top: -13.5rem;
    transform: scale(0.6);
  }
  .hero__details {
    grid-row: 2/span 1;
    margin: -3.75rem 1.25rem 5rem 1.25rem;
    align-items: center;
  }
  .hero__p {
    text-align: center;
  }
  .features {
    padding: 1.875rem 1.25rem;
  }
  .features__p {
    text-align: center;
  }
  .features__details {
    width: 100%;
    align-items: center;
  }
  .features__card {
    align-items: center;
  }
  .articles {
    padding: 2.5rem 1.25rem;
  }
  .footer {
    padding: 1.875rem 1.25rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5625rem;
  }
  .footer__company {
    gap: 25px;
  }
  .footer__company__social {
    width: 120%;
    gap: 0.625rem;
    align-self: center;
  }
  .footer__nav__items {
    gap: 0.3125rem;
  }
  .footer__nav__items li {
    text-align: center;
  }
  .footer__invite {
    margin: 0.625rem 0 0.625rem 0;
    align-items: center;
    gap: 0.625rem;
  }
  .footer__invite__arr {
    font-size: 0.875rem;
    color: var(--color-grayish-blue);
    font-weight: 300;
    margin-bottom: 0.625rem;
  }
  .heading--1 {
    text-align: center;
    font-size: 2.1875rem;
  }
  .heading--2 {
    text-align: center;
    font-size: 1.5625rem;
  }
  .heading--3 {
    font-size: 1.25rem;
  }
  .heading--4 {
    font-size: 1.125rem;
  }
  .paragraph {
    font-size: 1rem;
  }
}
.container {
  transition: all 0.4s;
}
.container__menu__active {
  filter: blur(4px);
}

.mobile__navigation__hidden {
  display: none;
}

.mobile__nav {
  position: absolute;
  z-index: 100;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1.5625rem 0.9375rem 1.5625rem 0.9375rem;
  width: 80%;
  border-radius: 0.625rem;
  left: 2.5rem;
}
.mobile__nav__items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.mobile__nav__item {
  font-size: 1rem;
  list-style: none;
  position: relative;
}
.mobile__nav__item::before {
  content: " ";
  position: absolute;
  height: 0.125rem;
  width: 100%;
  bottom: -0.125rem;
  transform: scaleX(0);
  background-color: var(--color-lime-green);
  transition: all 0.4s;
}
.mobile__nav__item:hover::before {
  transform: scaleX(1.1);
}
.mobile__nav__item a:link, .mobile__nav__item a:visited {
  text-decoration: none;
  color: var(--color-grayish-blue);
}

/*# sourceMappingURL=style.css.map */
