//Reusuable components

.heading--1 {
  font-size: cR(50px);
  font-weight: 400;
  color: var(--color-dark-blue);
}

.heading--2 {
  font-size: cR(34px);
  font-weight: 400;
  color: var(--color-dark-blue);
}

.heading--3 {
  font-size: cR(26px);
  font-weight: 400;
  color: var(--color-dark-blue);
}

.heading--4 {
  font-size: cR(18px);
  font-weight: 700;
  color: var(--color-dark-blue);
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background-image: linear-gradient(
      to right,
      var(--color-lime-green),
      var(--color-bright-cyan)
    );
    -webkit-background-clip: text;
    color: transparent;
  }
}

.paragraph {
  font-size: cR(18px);
  color: var(--color-grayish-blue);
  font-weight: 400;
}

.btn {
  &:link,
  &:visited {
    text-decoration: none;
    color: var(--color-white);
    font-size: cR(16px);
    background-image: linear-gradient(
      to right,
      var(--color-lime-green),
      var(--color-bright-cyan)
    );
    padding: cR(10px) cR(25px);
    border-radius: cR(50px);
    transition: all 0.4s;
  }

  &:hover,
  &:active {
    filter: brightness(110%);
  }
}

//SECTION HEADER

.header__nav {
  background-color: var(--color-white);
  padding: cR(20px) cR(80px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  position: relative;

  &__hamburger {
    background-color: var(--color-grayish-blue);
    height: cR(3px);
    width: cR(30px);

    &::before,
    &::after {
      content: "";
      display: block;
      height: cR(3px);
      width: cR(30px);
      background-color: var(--color-grayish-blue);
    }

    &::before {
      transform: translateY(cR(-8px)) rotate(0);
      transition: all 0.4s;
    }

    &::after {
      transform: translateY(cR(5px)) rotate(0);
      transition: all 0.4s;
    }
  }
  &__items {
    display: flex;
    gap: cR(25px);
  }

  &__item {
    font-size: cR(15px);
    list-style: none;
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      height: cR(5px);
      width: 100%;
      bottom: cR(-24px);
      transform: scaleX(0);
      background-color: var(--color-lime-green);
      transition: all 0.4s;
    }

    &:hover::before {
      transform: scaleX(1.1);
    }

    & a:link,
    & a:visited {
      text-decoration: none;
      color: var(--color-grayish-blue);
    }
  }
}

.hamburger {
  &__container {
    cursor: pointer;
  }
  &__hidden {
    display: none;
  }
  &__active {
    height: 0;

    &::before {
      transform: translateY(cR(2px)) rotate(45deg);
      transition: all 0.4s;
    }

    &::after {
      transform: translateY(0) rotate(-45deg);
      transition: all 0.4s;
    }
  }
  &__hidden {
    display: none;
  }
}
//SECTION HERO

.hero {
  display: grid;
  margin: 0 cR(80px);
  grid-template-columns: repeat(auto-fit, minmax(cR(200px), 1fr));
  min-height: cR(560px);

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: cR(30px);
    padding-right: cR(30px);
  }

  &__images {
    &__background {
      z-index: -1;
      position: relative;
      width: 100%;
      transform: scale(1.8);
      top: cR(-8px);
      left: cR(188px);

      &__phone {
        display: none;
      }
    }

    &__phone {
      position: absolute;
      z-index: 2;
      top: cR(-5px);
      left: cR(745px);
      height: cR(760px);
    }
  }
}

//SECTION FEATURES
.features {
  padding: cR(80px) cR(80px);
  background-color: var(--color-light-grayish-blue);

  &__details {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: cR(20px);
    margin-bottom: cR(50px);
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(cR(220px), 1fr));
    gap: cR(25px);
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: cR(20px);
  }
}

// SECTION ARTICLES

.articles {
  padding: cR(80px) cR(80px);

  &__figures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: cR(25px);
    margin-top: cR(50px);
  }

  &__figure {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border-radius: cR(5px);
    overflow: hidden;
    box-shadow: 0 cR(1px) cR(5px) rgba(0, 0, 0, 0.1);

    &__image {
      height: cR(180px);
    }

    &__author {
      font-size: cR(14px);
      font-weight: 300;
      color: var(--color-grayish-blue);
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    padding: cR(20px);
    gap: cR(10px);
  }
}

// SECTION FOOTER

.footer {
  padding: cR(80px) cR(80px);
  background-color: var(--color-dark-blue);
  display: flex;
  // justify-content: space-between;
  gap: cR(150px);

  &__company {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__logo:hover {
      fill: var(--color-lime-green);
    }

    &__social {
      display: flex;
      justify-content: space-between;
    }

    & li {
      list-style: none;
    }
  }

  &__nav {
    flex-grow: 1;
    &__items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min-content, cR(150px)));
      gap: cR(10px);

      & li {
        list-style: none;
      }
      & li a:link,
      & li a:visited {
        font-size: cR(15px);
        color: var(--color-grayish-blue);
        text-decoration: none;
        transition: all 0.4s;
      }

      & li a:hover,
      & li a:active {
        color: var(--color-lime-green);
      }
    }
  }

  &__invite {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    &__arr {
      font-size: cR(14px);
      color: var(--color-grayish-blue);
      font-weight: 300;
      margin-bottom: cR(10px);
    }
  }
}

@media only screen and (max-width: $bp-small) {
  .header__nav {
    padding: cR(20px) cR(20px);
    &__items {
      display: none;
    }
  }

  .btn--header {
    display: none;
  }
  .header__nav__hamburger {
    display: block;
  }
  .hero {
    margin: 0;
    &__images {
      &__background {
        display: none;
        &__phone {
          display: block;
        }
      }
      &__phone {
        left: cR(-120px);
        top: cR(-216px);
        transform: scale(0.6);
      }
    }
    &__details {
      grid-row: 2 / span 1;
      margin: cR(-60px) cR(20px) cR(80px) cR(20px);
      align-items: center;
    }
    &__p {
      text-align: center;
    }
  }

  .features {
    padding: cR(30px) cR(20px);
    &__p {
      text-align: center;
    }

    &__details {
      width: 100%;
      align-items: center;
    }

    &__card {
      align-items: center;
    }
  }

  .articles {
    padding: cR(40px) cR(20px);
  }

  .footer {
    padding: cR(30px) cR(20px);
    flex-direction: column;
    align-items: center;
    gap: cR(25px);

    &__company {
      gap: 25px;

      &__social {
        width: 120%;
        gap: cR(10px);
        align-self: center;
      }
    }

    &__nav {
      &__items {
        gap: cR(5px);

        & li {
          text-align: center;
        }
      }
    }
    &__invite {
      margin: cR(10px) 0 cR(10px) 0;
      align-items: center;
      gap: cR(10px);

      &__arr {
        font-size: cR(14px);
        color: var(--color-grayish-blue);
        font-weight: 300;
        margin-bottom: cR(10px);
      }
    }
  }
  .heading--1 {
    text-align: center;
    font-size: cR(35px);
  }
  .heading--2 {
    text-align: center;
    font-size: cR(25px);
  }
  .heading--3 {
    font-size: cR(20px);
  }
  .heading--4 {
    font-size: cR(18px);
  }
  .paragraph {
    font-size: cR(16px);
  }
}

.container {
  transition: all 0.4s;
  &__menu__active {
    filter: blur(4px);
  }
}

.mobile__navigation__hidden {
  display: none;
}
.mobile__nav {
  position: absolute;
  z-index: 100;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: cR(25px) cR(15px) cR(25px) cR(15px);
  width: 80%;
  border-radius: cR(10px);
  left: cR(40px);

  &__items {
    display: flex;
    flex-direction: column;
    gap: cR(8px);
  }

  &__item {
    font-size: cR(16px);
    list-style: none;
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      height: cR(2px);
      width: 100%;
      bottom: cR(-2px);
      transform: scaleX(0);
      background-color: var(--color-lime-green);
      transition: all 0.4s;
    }

    &:hover::before {
      transform: scaleX(1.1);
    }

    & a:link,
    & a:visited {
      text-decoration: none;
      color: var(--color-grayish-blue);
    }
  }
}
