//Reusuable components

.heading--1 {
  font-size: 50px;
  font-weight: 400;
  color: var(--color-dark-blue);
}

.heading--2 {
  font-size: 34px;
  font-weight: 400;
  color: var(--color-dark-blue);
}

.heading--3 {
  font-size: 26px;
  font-weight: 400;
  color: var(--color-dark-blue);
}

.heading--4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-dark-blue);
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background-image: linear-gradient(
      to right,
      var(--color-lime-green),
      var(--color-bright-cyan)
    );
    -webkit-background-clip: text;
    color: transparent;
  }
}

.paragraph {
  font-size: 18px;
  color: var(--color-grayish-blue);
  font-weight: 400;
}

.btn {
  &:link,
  &:visited {
    text-decoration: none;
    color: var(--color-white);
    font-size: cR(16px);
    background-image: linear-gradient(
      to right,
      var(--color-lime-green),
      var(--color-bright-cyan)
    );
    padding: 10px 25px;
    border-radius: 50px;
    transition: all 0.4s;
  }

  &:hover,
  &:active {
    filter: brightness(110%);
  }
}

//SECTION HEADER

.header__nav {
  background-color: var(--color-white);
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  position: relative;

  &__hamburger {
    background-color: var(--color-grayish-blue);
    height: 3px;
    width: 30px;

    &::before,
    &::after {
      content: "";
      display: block;
      height: 3px;
      width: 30px;
      background-color: var(--color-grayish-blue);
    }

    &::before {
      transform: translateY(-8px) rotate(0);
      transition: all 0.4s;
    }

    &::after {
      transform: translateY((5px)) rotate(0);
      transition: all 0.4s;
    }
  }
  &__items {
    display: flex;
    gap: 25px;
  }

  &__item {
    font-size: 15px;
    list-style: none;
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      height: cR(5px);
      width: 100%;
      bottom: cR(-24px);
      transform: scaleX(0);
      background-color: var(--color-lime-green);
      transition: all 0.4s;
    }

    &:hover::before {
      transform: scaleX(1.1);
    }

    & a:link,
    & a:visited {
      text-decoration: none;
      color: var(--color-grayish-blue);
    }
  }
}

.hamburger {
  &__container {
    cursor: pointer;
  }
  &__hidden {
    display: none;
  }
  &__active {
    height: 0;

    &::before {
      transform: translateY(2px) rotate(45deg);
      transition: all 0.4s;
    }

    &::after {
      transform: translateY(0) rotate(-45deg);
      transition: all 0.4s;
    }
  }
  &__hidden {
    display: none;
  }
}
//SECTION HERO

.hero {
  display: grid;
  margin: 0 80px;
  grid-template-columns: repeat(auto-fit, minmax(cR(200px), 1fr));
  min-height: 560px;

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding-right: 30px;
  }

  &__images {
    &__background {
      z-index: -1;
      position: relative;
      width: 100%;
      transform: scale(1.8);
      top: -8px;
      left: 188px;

      &__phone {
        display: none;
      }
    }

    &__phone {
      position: absolute;
      z-index: 2;
      top: -5px;
      left: 745px;
      height: 760px;
    }
  }
}

//SECTION FEATURES
.features {
  padding: 80px 80px;
  background-color: var(--color-light-grayish-blue);

  &__details {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 20px;
    margin-bottom: 50px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

// SECTION ARTICLES

.articles {
  padding: 80px 80px;

  &__figures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    margin-top: 50px;
  }

  &__figure {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

    &__image {
      height: 180px;
    }

    &__author {
      font-size: 14px;
      font-weight: 300;
      color: var(--color-grayish-blue);
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }
}

// SECTION FOOTER

.footer {
  padding: 80px 80px;
  background-color: var(--color-dark-blue);
  display: flex;
  // justify-content: space-between;
  gap: 150px;

  &__company {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__logo:hover {
      fill: var(--color-lime-green);
    }

    &__social {
      display: flex;
      justify-content: space-between;
    }

    & li {
      list-style: none;
    }
  }

  &__nav {
    flex-grow: 1;
    &__items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min-content, 150px));
      gap: 10px;

      & li {
        list-style: none;
      }
      & li a:link,
      & li a:visited {
        font-size: 15px;
        color: var(--color-grayish-blue);
        text-decoration: none;
        transition: all 0.4s;
      }

      & li a:hover,
      & li a:active {
        color: var(--color-lime-green);
      }
    }
  }

  &__invite {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    &__arr {
      font-size: 14px;
      color: var(--color-grayish-blue);
      font-weight: 300;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .header__nav {
    padding: 20px 20px;
    &__items {
      display: none;
    }
  }

  .btn--header {
    display: none;
  }
  .header__nav__hamburger {
    display: block;
  }
  .hero {
    margin: 0;
    &__images {
      &__background {
        display: none;
        &__phone {
          display: block;
          // grid-row: 1 / span 1;
        }
      }
      &__phone {
        left: -120px;
        top: -216px;
        transform: scale(0.6);
      }
    }
    &__details {
      grid-row: 2 / span 1;
      margin: -60px 20px 80px 20px;
      align-items: center;
    }
    &__p {
      text-align: center;
    }
  }

  .features {
    padding: 30px 20px;
    &__p {
      text-align: center;
    }

    &__details {
      width: 100%;
      align-items: center;
    }

    &__card {
      align-items: center;
    }
  }

  .articles {
    padding: 40px 20px;
  }

  .footer {
    padding: 30px 20px;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    &__company {
      gap: 25px;

      &__social {
        width: 120%;
        gap: 10px;
        align-self: center;
      }
    }

    &__nav {
      &__items {
        gap: 5px;

        & li {
          text-align: center;
        }
      }
    }
    &__invite {
      margin: 10px 0 10px 0;
      align-items: center;
      gap: 10px;

      &__arr {
        font-size: 14px;
        color: var(--color-grayish-blue);
        font-weight: 300;
        margin-bottom: 10px;
      }
    }
  }
  .heading--1 {
    text-align: center;
    font-size: 35px;
  }
  .heading--2 {
    text-align: center;
    font-size: 25px;
  }
  .heading--3 {
    font-size: 20px;
  }
  .heading--4 {
    font-size: 18px;
  }
  .paragraph {
    font-size: 16px;
  }
}

.container {
  transition: all 0.4s;
  &__menu__active {
    filter: blur(4px);
  }
}

.mobile__navigation__hidden {
  display: none;
}
.mobile__nav {
  position: absolute;
  z-index: 100;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 25px 15px 25px 15px;
  width: 80%;
  border-radius: 10px;
  left: 40px;

  &__items {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    font-size: 16px;
    list-style: none;
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      height: cR(2px);
      width: 100%;
      bottom: cR(-2px);
      transform: scaleX(0);
      background-color: var(--color-lime-green);
      transition: all 0.4s;
    }

    &:hover::before {
      transform: scaleX(1.1);
    }

    & a:link,
    & a:visited {
      text-decoration: none;
      color: var(--color-grayish-blue);
    }
  }
}
